# Maven Ignore

target/
BackEnd/src/main/resources/
BackEnd/target/
BackEnd/logs/
*/target/
BackEnd/pom.xml.tag
BackEnd/pom.xml.releaseBackup
BackEnd/pom.xml.versionsBackup
BackEnd/pom.xml.next
BackEnd/release.properties
BackEnd/dependency-reduced-pom.xml
BackEnd/buildNumber.properties
BackEnd/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/BackEnd/.mvn/wrapper/maven-wrapper.jar

# IntelliJ 
.idea/
BackEnd/.idea/
*/.idea/
*.iml
*.iws
BackEnd/*.iml
BackEnd/*.iws

# General Ignore
*~
*.orig
.vagrant

# Apple Os Ignore
.DS_Store
BackEnd/.DS_Store
*/.DS_Store
.AppleDouble
.LSOverride
.localized

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# dependencies
react-app/node_modules

# testing
react-app/coverage

# production
react-app/build

# misc
react-app/.DS_Store
react-app/.env.local
react-app/.env.development.local
react-app/.env.test.local
react-app/.env.production.local

react-app/npm-debug.log*
react-app/yarn-debug.log*
react-app/yarn-error.log*
